.footer__column-link {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: white;
    transition: opacity 0.1s linear 0s;
  }

  .footer__column-link:hover {
    opacity: 70%;
  }
