.logo {
    width: 183px;
    transition: opacity 0.5s linear 0s;
  }

  .logo:hover {
    opacity: 50%;
  }

.logo_place_header {
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.logo_place_footer {
  height: 35px;
}
